* {
	margin: 0;
	opacity: 1;
	background: url(https://source.unsplash.com/m3hn2Kn5Bns);
}

.gameSection {
	text-align: center;
}

.heading {
	margin: 20px;
	text-align: center;
	font-size: 3rem;
	color: rgb(245, 66, 66);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
